body {
    background-color: #333;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 80px;
}

.top {
    position: fixed;
    top: 12px;
    left: 12px;
    right: 12px;
}

.navbar {
    background-color: #222;
    border-radius: 20px;
    border: 2px solid #444;
    color: #eee;
    margin: 0 auto;
    height: 70px;
    width: 90%;
    padding-top: 12px
}

.navbar .searchbar {
    height: 60%;
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 100%;
    text-align: center;
}

.navbar .searchbar:focus {
    outline: none;
}

.package {
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    border: 2px solid #222;
    width: 500px;
    margin: 0 auto;
}